<!--Задание:-->
<!--Сделать проект "Интернет-каталог товаров"-->
<!--Главная страница - таблица со списком всех товаров-->
<!--каждый товар в списке это название, на которое можно нажать, что приведет на страницу конкретного товара. У товара должен быть уникальный id, который подставляется в ссылку в общей таблице-->
<!--<a href="/product?id=123456>Микроволновка "Победа"</a>-->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Каталог</title>
</head>
<body>


<tr> Каталог товаров</tr>
<br>
<a href="/product?id=1"> Икра красная лососевая </a>
<br>
<a href="/product?id=2">Икра красная форелевая</a>
<br>
<a href="/product?id=3">Икра черная осетровая</a>






</body>
</html>