<!--Задание:-->
<!--Сделать проект "Интернет-каталог товаров"-->
<!--Главная страница - таблица со списком всех товаров-->
<!--каждый товар в списке это название, на которое можно нажать, что приведет на страницу конкретного товара. У товара должен быть уникальный id, который подставляется в ссылку в общей таблице-->
<!--<a href="/product?id=123456>Микроволновка "Победа"</a>-->

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Каталог</title>
</head>
<body>


<tr> Каталог товаров</tr>
<table border="1" style="width:300px">
    <tr>
        <th>Наименование</th>
        <th>Цена, руб</th>


    <tr th:each="line : ${tab_prod}">
        <td><a th:href="@{/pr(name=${line.name})}"> <span th:text="${line.name}"/></a></td>
        <td><span th:text="${line.price}"/></td>
        <td>
            <a th:href="@{'/prInfo?id='+ ${line.id}}"> Описание продукта </a>
        <td>
            <a th:href="@{'/deletePr?id=' + ${line.id}}">Удалить продукт </a>
        </td>
    </tr>
</table>


<!--<br>-->
<!--<a href="/product?id=1"> Икра красная лососевая </a>-->
<!--<br>-->
<!--<a href="/product?id=2">Икра красная форелевая</a>-->
<!--<br>-->
<!--<a href="/product?id=3">Икра черная осетровая</a>-->


</body>
</html>